asgiref==3.11.1
certifi==2026.4.22
charset-normalizer==3.4.7
Django==6.0.4
django-jazzmin==3.0.4
djangorestframework==3.17.1
gunicorn==26.0.0
idna==3.14
packaging==26.2
requests==2.34.0
sqlparse==0.5.5
tzdata==2026.2
urllib3==2.7.0
